{% extends 'base.html' %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
{% load thumbnail %}

<div class="container py-5">        
  <h1>Все посты пользователя {{ author.get_full_name }} </h1>
  <h3>Всего постов: {{posts_count}} </h3>
  {% for post in page_obj %}
    <article>
      <ul>
        {% include 'posts/includes/post_item.html' %} 
      <a href="{% url 'posts:post_detail' post.pk %}">
        подробная информация 
      </a>  
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% if post.group %} 
    <a href="{% url 'posts:group' post.group.slug %}" class="text-secondary">
      все записи группы
    </a>
  {% endif %}

{% endblock %} 